[Unit]
Description=Ratchet Rockers 2020 Vision Solution
BindsTo=dev-video0-device
After=dev-video0.device

[Service]
Type=simple
ExecStart=/usr/local/bin/vision2020

[Install]
WantedBy=multi-user.target

